---
import Layout from '../layouts/Layout.astro'
import type { Shop } from '../types/types'
import { shopData, date } from '../api/api.ts'
import SectionShop from '../components/SectionShop.jsx'

const itemsShop: Shop[] = shopData.shop
//console.log(itemsShop)

function groupBySection(data) {
  return data.reduce((acc, obj) => {
    const sectionId = obj.section.name
    acc[sectionId] = acc[sectionId] || []
    acc[sectionId].push(obj)
    return acc
  }, {})
}
//console.log(groupBySection(itemsShop))
let dataTienda = groupBySection(itemsShop)
// iterar dataTienda y mostrar el nombre de la sección con sus items correspondientes

let clavcategories = Object.keys(groupBySection(itemsShop))

let valores = Object.values(groupBySection(itemsShop))

let detail = []
for (let clave in groupBySection(itemsShop)) {
  detail.push(groupBySection(itemsShop)[clave])
}
//console.log(valores)
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1 class='font-header text-6xl font-extrabold'>
      <span class='text-gradient'>Tienda Fortnite</span> para hoy!
    </h1>

    <SectionShop dataTienda={dataTienda} />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
